.ProfileBar {
  background-image: url("./../../assets/Assets/hero.jpg");
  height: 80vh;
  background-size: cover;
}
.titalHed {
  width: 50%;
  height: 100%;
}

.TitleCOntent {
  color: white;
  margin: 0.3em;
}

.contentbar {
  text-align: center;
  margin: 40px;
}

.contentbar {
  padding-top: 70px;
}
.amazing {
  font-size: 48px;
  margin-top: 4%;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}
.title_cont_story {
  margin-top: 20px;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}
.ItomBar {
  margin-top: 40px;
}

.ItomBar2 {
  margin-top: 120px;
}
.custmize {
}
.fif {
  border: 3px solid #ee4023;
  // padding:3px;
  width: 200px;
  height: 23px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.para {
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}
.para2 {
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}

.contBox {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.contBox2 {
}

.contBoxBack {
}
.custmize2 {
  font-size: 20px;
  color: #ee4023;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
}
.fif2 {
  border: 3px solid #ee4023;
  padding: 3px;
  width: 200px;
  height: 23px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.lastimgBox {
  background-image: url(./../../assets/Assets/closing-photo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 140vh;
  background-size: 100%;
}
.trasfatrat {
}
.lastCOnt {
  width: 60%;
  height: 320px;
  background-color: black;
  padding: 70px;
  opacity: 0.5;
  text-align: center;
}

.colletction {
  padding: 3em;
  font-size: 42px;
  font-family: "Source Sans Pro", sans-serif;
}

.lastLine {
  font-size: 36px;
  color: #ffffff;
}
.lastLineCont {
  font-size: 20px;
  color: #ffffff;
}
.buttonOf {
  background-color: #ee4023;
}
.lastCOnt2 {
  width: 60%;
  position: absolute;
  padding: 70px;
  text-align: center;
}
.footer {
  height: 10vh;
  background-image: url("./../../assets/Assets/geometric-band.jpg");
}

.inputB {
  width: 260px;
  height: 33px;
}
// ------------------

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

div {
  width: 100%;
  height: 100%;
}

.container {
  margin: 20px;
  width: 530px;
  height: 500px;
  perspective: 1000px;
  // overflow: hidden;
}

.card {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front,
.back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  // border: 2px solid black;
  // background: url("http://placehold.it/250x250");
}

.front:hover {
  bottom: 2px;
  left: 2px;
  // box-shadow: 0px 0px 20px 1px #000;
}

.back {
  // border: 2px solid black;
  background: url("./../../assets/wp2646216.webp");
  transform: rotateY(180deg);
  box-shadow: 0px 33px 30px 10px rgb(255, 255, 255);
}

.back:hover {
  // bottom: 2px;
  // right: 2px;
  // box-shadow: 0px 0px 20px 1px #000;
}

.footer {
  margin-top: 1.5vh;
  font-size: 16px;
}

.blackDiv {
  width: 65%;
  height: 300px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
}
.trasfterText {
  // font-weight: bold;
  color: #ffffff;
  font-size: 36px;
  // margin: 10px;
}
.trasfterTextsmall {
  // font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}
.automic {
  width: 70%;
  padding-top: 10%;
}
.butOL {
  width: 200px;
  height: 40px;
  background-color: #ee4023;
  color: white;
}
.cutomDiv {
  width: 45%;
  margin-top: 20%;
}

//   ---------------------mdpi --------------------

@media screen and (min-width: 600px) {
  .lastimgBox {
    background-image: url(./../../assets/Assets/closing-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 121vh;
    background-size: 100%;
  }

  .ProfileBar {
    background-image: url("./../../assets/Assets/hero.jpg");
    height: 36vh;
    background-size: cover;
  }

  .imgBox {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 320px) {
  .imgBox {
    // margin-top: 100px;
    // margin-bottom: 100px;
  }
  .just{

  }
  .contBox {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    // padding-bottom: 20%;
  }.marg{
      margin-bottom:60px;margin-top:60px;
  }
  .custmize {
    font-size: 20px;
    font-weight: 700;
    color: #ee4023;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 20px;
  }

  .fif {
    border: 3px solid #ee4023;
    // padding:3px;
    width: 100%;
    height: 23px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    // box-shadow: 0px 100px 30px 10px rgb(255, 255, 255);
  }
  .para {
    color: black;
    font-size: 14px;
    margin-bottom: 18px;
    align-items: justify;

    font-family: "Source Sans Pro", sans-serif;
  }
  .para2 {
    font-size: 14px;
    margin-bottom: 18px;
    color: black;
    font-family: "Source Sans Pro", sans-serif;
  }
  .blackDiv {
    width: 65%;
    height: 270px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
  }

  .ProfileBar {
    background-image: url("./../../assets/Assets/hero.jpg");
    height: 33vh;
    background-size: cover;
  }
  .title_cont_story {
    margin-top: 20px;
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
  }
  .cutomDiv {
    width: 60%;
  }

  .amazing {
    font-size: 33px;
    // margin-top: 2%;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
  }

  .TitleCOntent {
    color: white;
    font-size: 12px;
    padding: 0px;
    margin: 0.3em;
  }

  .imgr {
    height: 280px;
  }

  .imago {
    height: 340px;
    width: 100%;
  }
  .contBox2 {
    padding-right: 8vh;
  }

  .blackDiv {
    width: 65%;
    height: 270px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
  }
  .trasfterText {
    // font-weight: bold;
    color: #ffffff;
    font-size: 15px;
    // margin: 10px;
  }
  .trasfterTextsmall {
    // font-weight: bold;
    color: #ffffff;
    font-size: 11px;
    text-align: center;
  }
  .automic {
    width: 70%;
    padding-top: 10%;
  }
  .inputB {
    font-size: 10px;
    width: 100px;
    height: 20px;
  }
  .butOL {
    width: 100px;
    height: 30px;
    background-color: #ee4023;
    color: white;
    font-size: 8px;
  }

  .lastimgBox {
    background-image: url(./../../assets/Assets/closing-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    background-size: 100%;
  }
  .colletction {
    // padding: 50px;
    font-size: 15px;
    font-family: "Source Sans Pro", sans-serif;
  }

  .para {
    color: black;
    font-size: 20px;
    margin-bottom: 18px;
    align-items: justify;

    font-family: "Source Sans Pro", sans-serif;
  }
  .para2 {
    font-size: 20px;
    margin-bottom: 18px;

    color: black;
    font-family: "Source Sans Pro", sans-serif;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .TitleCOntent {
    color: white;
    font-size: 28px;
    padding: 0px;
    margin: 0.3em;
  }

  .ProfileBar {
    background-image: url("./../../assets/Assets/hero.jpg");
    height: 30vh;
    background-size: cover;
  }

  .imgr {
    height: 280px;
  }

  .imago {
    height: 340px;
  }
  .contBox2 {
    padding-right: 8vh;
  }

  .blackDiv {
    width: 65%;
    height: 270px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
  }
  .trasfterText {
    // font-weight: bold;
    color: #ffffff;
    font-size: 30px;
    // margin: 10px;
  }
  .trasfterTextsmall {
    // font-weight: bold;
    color: #ffffff;
    font-size: 15px;
  }
  .automic {
    width: 70%;
    padding-top: 10%;
  }
  .inputB {
    width: 190px;
    height: 33px;
  }
  .butOL {
    width: 150px;
    height: 40px;
    background-color: #ee4023;
    color: white;
  }

  .lastimgBox {
    background-image: url(./../../assets/Assets/closing-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    background-size: 100%;
  }
  .colletction {
    padding: 50px;
    font-size: 40px;
    font-family: "Source Sans Pro", sans-serif;
  }

  .para {
    color: black;
    font-size: 20px;
    margin-bottom: 18px;
    // align-items: justify;

    font-family: "Source Sans Pro", sans-serif;
  }
  .para2 {
    font-size: 20px;
    margin-bottom: 18px;

    color: black;
    font-family: "Source Sans Pro", sans-serif;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ProfileBar {
    background-image: url("./../../assets/Assets/hero.jpg");
    height: 50vh;
    background-size: cover;
  }

  .imgr {
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .ProfileBar {
    background-image: url("./../../assets/Assets/hero.jpg");
    height: 80vh;
    background-size: cover;
  }
  .titalHed {
    width: 50%;
    height: 100%;
  }

  .TitleCOntent {
    color: white;
    font-size: 40px;
    padding: 0px;
    margin: 0.3em;
  }

  .contentbar {
    text-align: center;
    margin: 40px;
  }

  .contentbar {
    padding-top: 70px;
  }
  .amazing {
    font-size: 48px;
    margin-top: 4%;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
  }
  .title_cont_story {
    margin-top: 20px;
    font-size: 24px;
    font-family: "Source Sans Pro", sans-serif;
  }
  .ItomBar {
    margin-top: 40px;
  }

  .ItomBar2 {
    margin-top: 120px;
  }
  .custmize {
    font-size: 24px;
    color: #ee4023;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
  }
  .fif {
    border: 3px solid #ee4023;
    // padding:3px;
    width: 200px;
    background-color: white;
    height: 23px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
  }
  .para {
    color: black;
    font-family: "Source Sans Pro", sans-serif;
  }
  .para2 {
    color: black;
    font-family: "Source Sans Pro", sans-serif;
  }

  .contBox {
    display: flex;
    justify-content: center;
    vertical-align: middle;
  }
  .contBox2 {
    display: flex;
    justify-content: center;
    vertical-align: middle;
  }

  .contBoxBack {
  }
  .custmize2 {
    font-size: 24px;
    font-weight: 700;
    color: #ee4023;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 20px;
  }
  .fif2 {
    border: 3px solid #ee4023;
    padding: 3px;
    width: 200px;
    height: 23px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
  }

  .lastimgBox {
    background-image: url(./../../assets/Assets/closing-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 140vh;
    background-size: 100%;
  }
  .trasfatrat {
  }
  .lastCOnt {
    width: 60%;
    height: 320px;
    background-color: black;
    padding: 70px;
    opacity: 0.5;
    text-align: center;
  }

  .colletction {
    padding: 3em;
    font-size: 42px;
    font-family: "Source Sans Pro", sans-serif;
  }

  .lastLine {
    font-size: 36px;
    color: #ffffff;
  }
  .lastLineCont {
    font-size: 20px;
    color: #ffffff;
  }
  .buttonOf {
    background-color: #ee4023;
  }
  .lastCOnt2 {
    width: 60%;
    position: absolute;
    // padding:70px;
    text-align: center;
  }
  .footer {
    height: 10vh;
    background-image: url("./../../assets/Assets/geometric-band.jpg");
  }

  // ------------------

  body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  div {
    width: 100%;
    height: 100%;
  }

  .container {
    margin: 20px;
    width: 530px;
    height: 500px;
    perspective: 1000px;
    // overflow: hidden;
  }

  .card {
    transition: transform 2s;
    transform-style: preserve-3d;
    cursor: pointer;
  }

  .front,
  .back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
  }

  .front {
    // border: 2px solid black;
    // background: url("http://placehold.it/250x250");
  }

  .front:hover {
    bottom: 2px;
    left: 2px;
    // box-shadow: 0px 0px 20px 1px #000;
  }

  .back {
    // border: 2px solid black;
    background: url("./../../assets/wp2646216.webp");
    transform: rotateY(180deg);
    box-shadow: 0px 33px 30px 10px rgb(255, 255, 255);
  }

  .back:hover {
    // bottom: 2px;
    // right: 2px;
    // box-shadow: 0px 0px 20px 1px #000;
  }

  .footer {
    margin-top: 1.5vh;
    font-size: 16px;
  }

  .blackDiv {
    width: 65%;
    height: 300px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
  }
  .trasfterText {
    // font-weight: bold;
    color: #ffffff;
    font-size: 36px;
    // margin: 10px;
  }
  .trasfterTextsmall {
    // font-weight: bold;
    color: #ffffff;
    font-size: 20px;
  }
  .automic {
    width: 70%;
    padding-top: 10%;
  }
}
