    <div class="main_div border" fxLayout="column">
  <div class="main_Pic border">
    <div class="ProfileBar" fxFlex="100">
      <div class="colletction" fxLayout="column" data-aos="zoom-in-right" data-aos-duration="2000">
        <span class="TitleCOntent"> Turn your videos &</span>
        <span class="TitleCOntent"> pictures into a movie</span>
        <span class="TitleCOntent"> with just one click</span>
      </div>
    </div>
  </div>

  <div class="contentbar" fxFlex="100"  data-aos="fade-up"
  data-aos-duration="1000">
    <span class="amazing"> Tell the amazing story </span>
    <p class="title_cont_story">
      Editing software that brings your videos and pictures together in one
      movie
    </p>
  </div>

  <div
    fxFlex="100"
    style="width: 100%; position: relative; top: 40vh"
    fxHide.xs
  >
    <label>
      <input class="sinput" type="checkbox" />
      <div class="card">
        <div class="front">
         

          <div class="cutomDiv" fxLayout="row" fxLayoutAlign="">
            <img src="./../../assets/Assets/computer1.jpg" class="imgr" data-aos="fade-right" alt="" />
            <p class="para" data-aos="fade-left">
                
              <span class="custmize">Customize your Moments</span>
              <br />
              <br />
            <span class="para">
                While working on web page we often have such scenarios where we
                have to control user input or typing. there weFrom the examples
                above you have learned that background images can be styled by
                using the CSS background properties. To learn more about
            </span>
            </p>
          
          </div>
        </div>

        <div class="back">
            <div
            class="cutomDiv"
            fxLayout="row"
            fxLayoutAlign=""
          >
            <p class="para" data-aos="fade-right">
              <span class="custmize"> your Moments</span>
              <br />
              <br />
              <span >
                  
              While working on web page we often have such scenarios where we
              have to control user input or typing. there weFrom the examples
              above you have learned that background images can be styled by
              using the CSS background properties. To learn more about
              </span>
            </p>
            <img src="../../assets/Assets/computer2.jpg"  class="imgr" data-aos="fade-left" alt="" />
          </div>
        </div>
      </div>
    </label>
  </div>

  <div fxFlex="100" fxLayout="column" fxFlex fxHide.gt-xs>
    <div class="ItomBar flip-vertical-right" fxFlex="100">
      <div class="imgBox" data-aos="fade-right">
        <img
          src="../../assets/Assets/computer1.jpg"
          class="imgr"
          fxFlex="100"
          alt=""
        />
      </div>
      <div class="contBox"  data-aos="fade-left">
        <div class="cutomDiv">
          <p class="custmize" >Customize your Moments</p>
          <p class="para">
            While working on web page we often have such scenarios where we have
            to control user input or typing. there weFrom the examples above you
            have learned that background images can be styled by using the CSS
            background properties. To learn more about
          </p>
        </div>
      </div>
    </div>

    <div class="ItomBar flip-vertical-right" fxFlex="100">
      <div class="imgBox">
        <img
        data-aos="fade-right"
          src="../../assets/Assets/computer2.jpg"
          class="imgr"
          fxFlex="100"
          alt=""
        />
      </div>
      <div class="contBox">
        <div class="cutomDiv" data-aos="fade-left">
          <p class="custmize">your Moments</p>
          <p class="para">
            While working on web page we often have such scenarios where we have
            to control user input or typing. there weFrom the examples above you
            have learned that background images can be styled by using the CSS
            background properties. To learn more about
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ItomBar2" fxFlex="100" fxLayout="row" fxLayout.xs="column">
    <div
      class="contBox2"
      fxLayout="row"
      fxLayoutAlign="end center"
      fxLayoutAlign.lt.md="center center"
      fxLayoutAlign.xs="center center"
    >
      <div class="automic" fxLayout="column" fxLayoutAlign="center center">
          <span data-aos="fade-right">
            <p class="custmize2">Automic Crop & Zoom your Moments</p>
            <p class="para2" style="">
              While working on web page we often have such scenarios where we have
              to control user input or typing. there we get debounceTime() on the
              track. with the help of debounceTime()<br />
              we can create delay for
            </p>
            <div class="fif2" (click)="clicko(3)" *ngIf="act == 3"  >Change</div>
            <div class="fif2" (click)="clicko(4)" *ngIf="act == 4"  >Change</div>
        </span>

      
      
      </div>
    </div>

    <div class="imgBox marg margin_top_bottom" fxFlex="35">
      <img
      data-aos="fade-left"
        class="imago"
        src="../../assets/Assets/computer2b.jpg"
        *ngIf="act == 3"
        fxFlex="100"
        alt=""
      />
      <img
      data-aos="fade-right"

        class="imago"
        src="../../assets/Assets/computer2.jpg"
        *ngIf="act == 4"
        fxFlex="100"
        alt=""
      />
    </div>






    
  </div>

  <div class="lastimgBox" fxLayout="row" fxLayoutAlign="center center" >
    <div 
      class="blackDiv"
      fxLayout="column"
      fxFlex="89"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
      data-aos="fade-up"
     data-aos-duration="2000"
    >
 
      <p class="trasfterText">Free trial.No credit card.No Hassel</p>
      <p class="trasfterTextsmall">
        just enter your email address below and begin capturing moments
      </p>

      <div style="height: 80px" fxLayout="row" fxLayoutAlign="center center">
      <button class="butOL">START FREE TRIAL</button>
      <input type="text" placeholder="Enter Your Email" class="inptB" />
      </div>
    </div>
  </div>

  <div
    fxFlex="100"
    class="footer"
    fxFlex="100"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    Sitemap | Legal |Blog
  </div>
</div>
    
