.main_div {
  height: auto;
  overflow: hidden;
}
.border {
//   border: 1px solid black;
}
.inptB{
    height: 32px;
    width: 120px;
}
.ProfileBar {
  background-image: url("./../../assets/Assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Source Sans Pro", sans-serif;

}

.main_Pic {
  height: 40vh;
}

.colletction {
  font-size: 21px;
  padding: 25px;
  color: white;
  font-weight: 500;
  line-height: 23px;
  font-family: "Source Sans Pro", sans-serif;

}

// /////////////////////////////////   profile css

.first_cont {
  //   height: 90vh;
  background-color: rgb(122, 122, 214);
}

.contentbar {
  text-align: center;
  margin: 40px;
  padding-top: 40px;
}

.margin_top_bottom{
    margin-top:15vh;
    margin-bottom:15vh;

}


.amazing {
  font-size: 23px;
  // margin-top: 4%;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}
.title_cont_story {
  margin-top: 16px;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 23px;
}

.custmize {
    font-size: 24px;
    color: #ee4023;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
  }
  .para {
    color: black;
    font-size: 18px;
    
    padding: 20px;
    font-family: "Source Sans Pro", sans-serif;
  }
  .cutomDiv{
      text-align: center;
    //   line-height: 23px;
    padding-top: 20px;
    padding-bottom:20px;
  }
  .custmize2 {
    font-size: 20px;
    color: #ee4023;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
  }
  .automic{
      text-align: center;
      font-size: 18px;
    
      padding: 20px;
      font-family: "Source Sans Pro", sans-serif;
  }
  .imgBoxx{
      height:80vh;
  }
  .fif2 {
    border: 3px solid #ee4023;
    padding: 3px;
    width: 200px;
    height: 23px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin:20px;
    margin: 0 auto;
    cursor: pointer;
  }
  .automic{
      text-align: center;
      
  }
  .para2{
      font-size: 16px;
      
  }

//   ////////////////////////// fif card csss start

body {
    background: #F17563;
    font-family: Open Sans;
    font-size: 50px;
  	color: #222;
}

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 100%;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.card {
    // position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #FFF;
        text-align: center;
        // line-height: 200px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .card .back {
        background: #FFF;
        color: #FFF;
        -webkit-transform: rotatey(180deg);
        transform: rotatey(180deg);
    }

but:hover {
    -webkit-transform: rotatey(20deg);
    transform: rotatey(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

.sinput {
    display: none;
}

:checked + .card {
    transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
}

but:hover :checked {
    transform: rotatey(160deg);
    -webkit-transform: rotatey(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}
//   ////////////////////////// fif card csss end

// ////////////////////// lsat box

.lastimgBox {
    background-image: url(./../../assets/Assets/closing-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    background-size: 100%;
  }
  .blackDiv {
    width: 85%;
    height: 230px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
  }
  .trasfterText {
    color: #ffffff;
    font-size: 16px;
    line-height:30px;
    text-align: center;
  }
  .trasfterTextsmall {
    line-height:13px;
    text-align: center;
  line-height:20px;
    color: #ffffff;
    font-size: 15px;
  }
  .inputB { 
         background-color: #ffffff;

    width: 70px;
    height: 33px;
  }
  .butOL {
    width: 110px;
    height: 40px;
    font-size:10px;
    background-color: #ee4023;
    color: white;
  }
// ///////////////////////////////////////////footer
  .footer {
    height: 10vh;
    background-image: url("./../../assets/Assets/geometric-band.jpg");
  }




  @media only screen and (min-width: 768px) {

    
    .ItomBar2{
        // margin-top:20vh;

    }
    .ItomBar2{
        margin-top:100vh;
    }
    // .contBox{
    //     width:30%;

    // }
    .para2{
        font-size: 22px;
        line-height:25px;
        
    }
    .para {
        color: black;
        font-size: 22px;
        width: 30%;
        line-height:25px;
        padding-right: 10%;
        padding-left: 10%;
        font-family: "Source Sans Pro", sans-serif;
      }
      .automic{
        text-align: center;
        font-size: 18px;
         width: 55%;
         margin-right: 30%;
        padding: 20px;
        font-family: "Source Sans Pro", sans-serif;
    }
    .imgr{
        width:48%
    }
    .cutomDiv{
        text-align: center;
      //   line-height: 23px;
    //   padding-top: 20px;
    //   padding-bottom:20px; 
    vertical-align: middle;
    }
    .lastimgBox {
        background-image: url(./../../assets/Assets/closing-photo.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 60vh;
        background-size: 100%;
      }
      .blackDiv {
        width: 85%;
        height: 250px;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
      }
   
  .trasfterText {
    color: #ffffff;
    font-size: 25px;
    line-height:30px;
    text-align: center;
  }
  .trasfterTextsmall {
    line-height:20px;
    text-align: center;
  
    color: #ffffff;
    font-size: 15px;
  }
  .inputB { 
         background-color: #ffffff;

    width: 70px;
    height: 33px;
  }
  .butOL {
    width: 90px;
    height: 40px;
    font-size:10px;
    background-color: #ee4023;
    color: white;
  }
  .colletction{
    font-size: 30px;
    padding: 13%;
    color: white;
    line-height: 50px;
  font-family: "Source Sans Pro", sans-serif;

}
  }
  
  @media only screen and (min-width: 992px) {
    .lastimgBox {
        background-image: url(./../../assets/Assets/closing-photo.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 120vh;
        background-size: 100%;
      }
      .para {
        color: black;
        font-size: 25px;
        line-height:30px;
        width: 50%;
        padding-right: 15%;
        padding-left: 15%;
        font-family: "Source Sans Pro", sans-serif;
      }
      .amazing {
        font-size: 50px;
        // margin-top: 4%;
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;
      }
      .title_cont_story {
        margin-top: 20px;
        font-size: 33px;
        font-family: "Source Sans Pro", sans-serif;
        line-height: 23px;
      }
      .custmize {
        font-size: 30px;
        color: #ee4023;
        margin-bottom: 20px;
        font-weight: 700;
        font-family: "Source Sans Pro", sans-serif;
      }
      .custmize2 {
        font-size: 30px;
        color: #ee4023;
        margin-bottom: 20px;
        font-weight: 700;
        font-family: "Source Sans Pro", sans-serif;
      }
.main_Pic {
    height:95vh;

}
.blackDiv {
    width: 85%;
    height: 250px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
  }
.colletction{
    font-size: 55px;
    padding: 13%;
    color: white;
    line-height: 50px;
}

.trasfterText {
    color: #ffffff;
    font-size: 25px;
    line-height:30px;
    text-align: center;
  }
  .trasfterTextsmall {
    line-height:20px;
    text-align: center;
  
    color: #ffffff;
    font-size: 15px;
  }
  .inputB { 
         background-color: #ffffff;

    width: 110px;
    height: 33px;
  }
  .butOL {
    width: 159px;
    height: 40px;
    font-size:10px;
    background-color: #ee4023;
    color: white;
  }
  .inptB {
    height: 34px;
    width: 217px;
}
  }

