
<div  fxLayout="row wrap" fxFlex fxLayoutAlign="start stretch" style="padding-top:3vh">

    <div class="holder">

        
    <app-atom-spinner
    [animationDuration]="1000"
    [size]="60"
    [color]="'#ff1d5e'"
    ></app-atom-spinner>
    
    </div>

    


<div class="holder">
    <app-flower-spinner
  [animationDuration]="2500"
  [size]="70"
  [color]="'#ff1d5e'"
></app-flower-spinner>
</div>


 


<div class="holder">
    <app-pixel-spinner
  [animationDuration]="2000"
  [size]="70"
  [color]="'#ff1d5e'"
></app-pixel-spinner>
</div>


<div class="holder">
    
<app-hollow-dots-spinner
[animationDuration]="1000"
[dotSize]="15"
[dotsNum]="3"
[color]="'#ff1d5e'"
></app-hollow-dots-spinner>
</div>

<!-- <div class="holder"></div> -->


 <!-- <app-orbit-spinner
  [animationDuration]="1200"
  [size]="55"
  [color]="'#fffd5e'"
></app-orbit-spinner>  -->
<div class="holder">
    

<app-intersecting-circles-spinner
[animationDuration]="1200"
[size]="70"
[color]="'#ff1d5e'"
></app-intersecting-circles-spinner>

</div>


<div class="holder">
    <app-radar-spinner
  [animationDuration]="2000"
  [size]="60"
  [color]="'#ff1d5e'"
></app-radar-spinner>

</div>


<div class="holder">
    
 <app-scaling-squares-spinner
 [animationDuration]="1250"
 [size]="65"
 [color]="'#ff1d5e'"
></app-scaling-squares-spinner>

</div>




<div class="holder">
    <app-half-circle-spinner
  [animationDuration]="1000"
  [size]="60"
  [color]="'#ff1d5e'"
></app-half-circle-spinner>
</div>



<div class="holder">
    
<app-trinity-rings-spinner
[animationDuration]="1500"
[size]="66"
[color]="'#ff1d5e'"
></app-trinity-rings-spinner>
</div>




<div class="holder">
    <app-fulfilling-square-spinner
  [animationDuration]="4000"
  [size]="50"
  [color]="'#ff1d5e'"
></app-fulfilling-square-spinner>
</div>


<!-- <app-circles-to-rhombuses-spinner
  [animationDuration]="1200"
  [circlesNum]="3"
  [circleSize]="15"
  [color]="'#ff1d5e'"
></app-circles-to-rhombuses-spinner> -->
    



<div class="holder">
    <app-semipolar-spinner
  [animationDuration]="2000"
  [size]="65"
  [color]="'#ff1d5e'"
></app-semipolar-spinner>
</div>

    
<!-- <app-self-building-square-spinner
  [animationDuration]="6000"
  [size]="40"
  [color]="'#ff1d5e'"
></app-self-building-square-spinner> -->
    


<div class="holder">
    <app-swapping-squares-spinner
  [animationDuration]="1000"
  [size]="65"
  [color]="'#ff1d5e'"
></app-swapping-squares-spinner>
</div>


<!-- <app-fulfilling-bouncing-circle-spinner
  [animationDuration]="4000"
  [size]="60"
  [color]="'#ff1d5e'"
></app-fulfilling-bouncing-circle-spinner>

<app-fingerprint-spinner
  [animationDuration]="1500"
  [size]="64"
  [color]="'#ff1d5e'"
></app-fingerprint-spinner>-->


<div class="holder">

    
<app-spring-spinner
[animationDuration]="3000"
[size]="60"
[color]="'#ff1d5e'"
></app-spring-spinner> 
</div>


<!-- <app-looping-rhombuses-spinner
  [animationDuration]="2500"
  [rhombusSize]="15"
  [color]="'#ff1d5e'"
></app-looping-rhombuses-spinner> -->

<!-- <app-breeding-rhombus-spinner
  [animationDuration]="2000"
  [size]="65"
  [color]="'#ff1d5e'"
/><app-breeding-rhombus-spinner> -->

</div>