.main_div_of_form {
  background-color: #6a4ce0;
  height: 100vh;
}
.width_of_input {
  width: 100%;
}
.input_button {
  background-color: #6a4ce0;
  letter-spacing: .2ch;

  color: #fff;
  font-weight: 600;
}
.form_div_inner {
  padding: 2vh;
  max-width: 320px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}
::ng-deep .mat-form-field-label-wrapper {
  color: black;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: black !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focuses
  .mat-form-field-outline-thick {
  color: black !important;
}

.chekPassword {
  width: 40px;
  height: 4px;
  background-color: rgb(151, 147, 147);
}

.letsText {
  font-size: 2.5em;
  font-weight: 500;
  text-align: end;
}
.form_top {
  background: #ffffff;
  position: absolute;
  top: 0;
  width: 320px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: end;
  padding: 2vh;
}


.iconcolor {
  color: red;
}
.isvalid{
    color:green
}
.Upper{
    margin-top: 2vh; font-size: 28px
}



.titleOfForm{
    margin-top: 2em; margin-bottom: 3em
}
.blueCol{
    color: #6a4ce0
}
.brow{
    color: rgb(97, 96, 96)
}
.fent{
    color: rgb(150, 148, 148)
}
.Already{
    font-size: 12px; text-align: center; padding-top: 2vh 
}